name: linter and tests

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  lint:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install ruff
      run: |
        pip install ruff

    - name: Run ruff check
      run: |
        ruff check ./quiz

  tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install uv
      run: |
          pip install uv

    - name: Install pytest and Django
      run: |
          uv sync

    - name: Run tests
      run: |
          uv run pytest
